@use 'sass:color'

@use '../variables' as *

@mixin solid-colourise-button($bkg, $frg)
  background: $bkg
  color: $frg
  border: $thin-line solid color.adjust($bkg, $lightness: -10%)
  &:hover
    background: color.adjust($bkg, $lightness: $hover-highlight)
    border-color: $bkg
  &:active
    background: color.adjust($bkg, $lightness: $interact-highlight)
    border-color: $bkg

@mixin outline-colourise-button($colour, $interact-colour)
  background: $content-background
  color: $colour
  border: $thin-line solid $colour
  &:hover
    background: $content-background
    color: $interact-colour
    border-color: color.adjust($interact-colour, $lightness: $hover-highlight)
  &:active
    background: $content-background
    color: $interact-colour
    border-color: color.adjust($interact-colour, $lightness: $interact-highlight)

.MIRECO-button
  -webkit-appearance: none
  box-sizing: border-box
  border-radius: $edge-rounding
  @include input-textaligned-padding($standard-padding)
  outline: none
  font-family: $standard-font-families
  font-weight: $standard-font-weight
  font-size: $standard-font-size
  line-height: $standard-line-height
  user-select: none
  text-align: center
  text-decoration: none
  &:not(:disabled):not(.disabled)
    cursor: pointer

  &:focus
    @include input-focus()

  &:not(:disabled):not(.disabled):not(.MIRECO-embedded)
    &:not(.outline)
      @include solid-colourise-button($primary-button-colour, $primary-button-content-colour)
      &.secondary
        @include solid-colourise-button($secondary-button-colour, $secondary-button-content-colour)
      &.content
        @include solid-colourise-button($content-foreground, $content-background)
    &.outline
      @include outline-colourise-button($primary-button-colour, color.adjust($primary-button-colour, $lightness: -20%))
      &.secondary
        @include outline-colourise-button($secondary-button-colour, color.adjust($secondary-button-colour, $lightness: -20%))
      &.content
        @include outline-colourise-button($content-foreground, $primary-button-colour)
  &:disabled, &.disabled
    background: $content-faint
    color: $content-muted
    &:not(.MIRECO-embedded)
      border: $thin-line solid $content-foreground
