.MIRECO-datetime
  position: relative

  > .MIRECO-datetime-controls
    position: absolute
    z-index: 100
    left: 0
    top: 100%
    display: flex
    flex-direction: row
  &.right-hang>.MIRECO-day-calendar
    left: auto
    right: 0

  .MIRECO-text
    background: none
    border: none
    box-shadow: none
    margin: 0

    &:focus
      box-shadow: none

  p
    display: inline
    margin-right: 0.8rem

  position: relative
  > .MIRECO-clear-button
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
  > svg
    position: absolute
    right: 0
    top: 50%
    margin-top: -12px
    pointer-events: none
