.MIRECO-date-range
  &.in-focus
    input-focus()
  
  &.disabled
    border-color: content-muted !important
    background: content-faint !important

  .MIRECO-date .MIRECO-text
    border: none
    background: none
  
  padding-right: (standard-padding / 2)
  &.clearable
    padding-right: "calc(%s + 24px)" % (standard-padding / 2)
  > .MIRECO-clear-button
    background: none !important
    border: none !important
    right: 0

  > svg:not(.MIRECO-arrow-right)
    right: (standard-padding / 4)
  
  p
    opacity: 0.5
  
  &.has-icon
    padding-right: "calc(%s + 24px)" % (standard-padding / 2)
    &.clearable
      padding-right: "calc(%s + 48px)" % standard-padding
    > .MIRECO-clear-button
      right: "calc(%s + 24px)" % (standard-padding / 2)
    &:after
      content: ' '
      position: absolute
      right: "calc(%s + 24px)" % (standard-padding / 2)
      height: calc(100% - 12px)
      top: 6px
      border-right: thin-line solid content-muted
