.MIRECO-datetime, .MIRECO-datetime-range
  p
    color: content-muted

.MIRECO-datetime-controls, .MIRECO-datetime-range-controls
  border-radius: edge-rounding
  border: thin-line solid content-muted
  margin-top: -(thin-line)
  popover-shadow()
  background: content-background

  .MIRECO-day-calendar
    border-right: thin-line solid content-muted
