.MIRECO-date-range
  position: relative
  
  .MIRECO-date-range-header
    text-align: center

  .MIRECO-date-range-body
    display: flex
    flex-direction: row

  p
    display: inline
    margin-right: 0.8rem
