.MIRECO-datetime, .MIRECO-datetime-range
  p
    color: content-muted

.MIRECO-datetime-controls, .MIRECO-datetime-range-controls
  .MIRECO-day-calendar
    border-right: thin-line solid content-muted
