.MIRECO-datetime
  > .MIRECO-datetime-controls
    border-radius: edge-rounding
    border: thin-line solid content-muted
    margin-top: -(thin-line)
    popover-shadow()
    background: content-background
  
    .MIRECO-day-calendar
      border-right: thin-line solid content-muted
  
  p
    color: content-muted
