.MIRECO-multi-select
  > ul.selected
    > li
      margin: 0
      margin-bottom: 0.4rem
      padding: 0

      &.option
        position: relative
        box-sizing: border-box
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        max-width: 60%
        border: var(--MIRECO-thin-border-width) solid var(--MIRECO-content-edge)
        border-radius: var(--MIRECO-edge-rounding)
        padding-left: 0.25rem
        line-height: var(--MIRECO-form-field-line-height)
        font-size: var(--MIRECO-font-size-small)
        padding-right: 24px
        user-select: none

        > .MIRECO-clear-button
          position: absolute
          top: 0
          bottom: 0
          right: 0
