.MIRECO-text, .MIRECO-number, .MIRECO-multi-select, .MIRECO-date-range, .MIRECO-datetime
  -webkit-appearance: none
  font-family: standard-font-families
  font-weight: standard-font-weight
  font-size: standard-font-size
  line-height: standard-line-height
  border: thin-line solid content-muted
  border-radius: edge-rounding
  outline: none
  background: content-background

  &:disabled
    background: content-faint
    color: content-muted

  &:not(:disabled)
    &:hover
      border-color: primary-colour

  &:focus
    input-focus()

.MIRECO-text, .MIRECO-number, .MIRECO-multi-select
  input-textaligned-padding(standard-padding)
