.MIRECO-toggle-select
  display: inline-block
  padding: 0.4rem
  background: var(--MIRECO-drawer-background)
  border-radius: var(--MIRECO-edge-rounding)

  .MIRECO-button
    &:not(:last-child)
      margin-right: 0.5rem
