.MIRECO-clear-button
  padding-right: 0
  padding-left: 0
  background: none
  border: thin-line solid content-foreground
  svg
    height: standard-font-size
    path
      stroke: content-foreground !important
  &:hover
    background: none
    border-color: primary-colour
    svg path
      stroke: primary-colour !important
