.MIRECO-button
  -webkit-appearance: none
  box-sizing: border-box
  border-radius: edge-rounding
  padding: (standard-padding / 2) standard-padding
  outline: none
  font-family: standard-font-families
  font-weight: standard-font-weight
  font-size: standard-font-size
  line-height: standard-line-height
  cursor: pointer
  user-select: none

  display: inline-block
  &.block
    display: block
    width: 100%
    margin-bottom: standard-padding

  &:focus
    input-focus()

  background: primary-colour
  border: thin-line solid (primary-colour - 10%)
  color: primary-content-colour
  &:hover
    background: primary-colour + hover-highlight
  &:active
    background: primary-colour + interact-highlight

  &.secondary
    background: secondary-colour
    border: thin-line solid (secondary-colour - 10%)
    color: secondary-content-colour
    &:hover
      background: secondary-colour + hover-highlight
    &:active
      background: secondary-colour + interact-highlight
