size = standard-font-size

.MIRECO-checkbox-label
  &:not(.disabled)
    cursor: pointer

  display: inline
  &.block
    display: block
    margin-bottom: standard-padding

.MIRECO-checkbox
  width: 0
  height: 0
  margin: 0
  position: absolute
  opacity: 0

  &+svg
    background: content-background
    display: inline-block
    vertical-align: middle
    border: thin-line solid content-muted
    border-radius: edge-rounding
    width: size
    height: size
    margin-bottom: (size / 5)
  &:disabled+svg
    background: content-faint
    filter: grayscale(100%)

  &+svg path
    stroke: content-soft
    stroke-opacity: 0.25
  &:not(:disabled)
    &:hover+svg
      border-color: primary-colour + hover-highlight
      path
        stroke: primary-colour + hover-highlight
  &:checked+svg path
    stroke: primary-colour
    stroke-opacity: 1

  &:focus+svg
    input-focus()
