.MIRECO-datetime
  &.block
    // important to override default inline display of div
    display: flex !important
    width: 100%
    margin-bottom: standard-padding

    >.MIRECO-date
      flex: 4
      >.MIRECO-text
        display: block
        width: 100%
    >.MIRECO-time
      flex: 3
      >.MIRECO-text
        display: block
        width: 100%
    >.MIRECO-date, >.MIRECO-time
      &:first-child
        margin-right: (standard-font-size / 3)

  &:focus
    outline: none
