.MIRECO-date
  position: relative
  display: inline-block
  &:focus
    outline: none
  &.block
    display: block
    >.MIRECO-text
      display: block
      width: 100%
      margin-bottom: standard-padding

  >.MIRECO-text
    width: 8rem

  >.MIRECO-calendar
    position: absolute
    z-index: 100
    left: 0
    top: 100%
