.MIRECO-datetime-range
  &.block
    // important to override default inline display of div
    display: flex !important
    flex-wrap: wrap
    align-items: center
    margin-right: -(standard-font-size / 3)
    margin-bottom: standard-padding
    margin-top: -(standard-font-size / 3)

    >.MIRECO-datetime, span.to, >.MIRECO-text.duration, >.duration-container
      flex: 1
      min-width: 0
      margin-top: (standard-font-size / 3)
      margin-bottom: 0
      margin-right: (standard-font-size / 3)
    >.MIRECO-datetime
      min-width: 15rem
    >.MIRECO-datetime
      max-width: 20rem
    >.duration-container
      min-width: 15rem
      // important to override default inline display of div
      display: flex !important
      align-items: center
      margin-right: (standard-font-size / 3)
      >.MIRECO-text.duration
        flex: 1
        min-width: 0
        margin-right: (standard-font-size / 3)
      >.MIRECO-clear-button
        flex: none
    span.to
      flex-grow: 0
      min-width: auto
