.MIRECO-datetime-range
  >.MIRECO-clear-button
    vertical-align: middle
  &.block
    // important to override default inline display of div
    display: flex !important
    flex-wrap: wrap
    align-items: center
    margin-right: -(standard-font-size / 3)
    margin-bottom: standard-padding

    >.MIRECO-datetime, span.to, >.MIRECO-text.duration, >.MIRECO-clear-button
      flex: 1
      min-width: 0
      margin-bottom: (standard-font-size / 3)
      margin-right: (standard-font-size / 3)
    >.MIRECO-clear-button
      flex: none
    >.MIRECO-datetime, >.MIRECO-text.duration
      min-width: 15rem
    >.MIRECO-datetime
      max-width: 20rem
    span.to
      flex-grow: 0
      min-width: auto
