.MIRECO-textarea
  display: inline-block
  vertical-align: middle
  width: 15rem
  padding: (standard-padding / 2)
  resize: none
  font-family: standard-font-families
  font-weight: standard-font-weight
  font-size: standard-font-size
  line-height: standard-line-height
  border: thin-line solid content-border-line
  border-radius: edge-rounding
  outline: none

  &:focus
    box-shadow: inset 0 0 0 thin-line transparent, 0 0 0 edge-rounding content-faint-line
  &:hover
    border-color: primary-colour
