.MIRECO-text
  -webkit-appearance: none
  box-sizing: border-box
  vertical-align: middle
  width: 15rem
  font-family: standard-font-families
  font-weight: standard-font-weight
  font-size: standard-font-size
  line-height: standard-line-height
  border: thin-line solid content-muted
  border-radius: edge-rounding
  padding: (standard-padding / 2)
  outline: none
  background: content-background

  display: inline-block
  &.block
    display: block
    width: 100%
    margin-bottom: standard-padding

  &:disabled
    background: content-faint

  &:not(:disabled)
    &:hover
      border-color: primary-colour

  &:focus
    input-focus()
