.MIRECO-time
  position: relative
  &:focus
    outline: none

  &.block
    // important to override default inline display of div
    display: block !important
    margin-bottom: standard-padding
    >.MIRECO-text
      display: block
      width: 100%

  >.MIRECO-text
    width: 6rem
    // text-align: right
