.MIRECO-time
  position: relative
  &:focus
    outline: none

  display: inline-block
  &.block
    display: block
    margin-bottom: standard-padding
    >.MIRECO-text
      display: block
      width: 100%

  >.MIRECO-text
    width: 6rem
    // text-align: right
