.MIRECO-datetime
  div-block-break(flex)

  &.block
    margin-bottom: standard-padding
    flex-wrap: wrap

    .MIRECO-text
      margin-bottom: 0

    >.MIRECO-date
      flex: 4
    >.MIRECO-time
      flex: 3
    >.MIRECO-date, >.MIRECO-time
      &:first-child
        margin-right: (standard-font-size / 3)
    >.MIRECO-clear-button
      margin-left: (standard-font-size / 3)

  &:focus
    outline: none
