.MIRECO-clear-button
  &.MIRECO-button
    padding-right: 0
    padding-left: 0
    padding-top: 0.5rem
    padding-bottom: 0.5rem
  svg
    vertical-align: middle
    height: standard-font-size
    path
      stroke: content-foreground !important
  &:disabled
    svg path
      stroke: content-muted !important
  &:not(:disabled)
    &:hover, &:active
      svg path
        stroke: primary-colour !important
