.MIRECO-controls-popover
  &:not(.MIRECO-embedded)
    border-radius: edge-rounding
    border: thin-line solid content-muted
    margin-top: -(thin-line)
    popover-shadow()
    background: content-background
