.MIRECO-day-calendar
  width: 15rem
  height: 15rem

  >.calendar-header
    h5
      margin: 0
      font-weight: var(--MIRECO-font-weight-normal)
      font-size: var(--MIRECO-font-size-small)
      text-align: center
    button
      background: none
      outline: none
      border: none
      padding: 0.5rem 0
      margin: 0
      cursor: pointer
      svg
        width: 2rem
      &:hover
        background: var(--MIRECO-content-background-interact)

  >table
    tbody
      tr
        td, th
          text-align: center
          font-weight: var(--MIRECO-font-weight-normal)
        th
          color: var(--MIRECO-content-text-soft)
          font-size: var(--MIRECO-font-size-small)
        td
          padding: 1px 0
          button
            position: relative
            font-size: var(--MIRECO-font-size-small)
            color: var(--MIRECO-content-text)
            background: none
            border: var(--MIRECO-thin-border-width) solid transparent
            &:focus
              outline: none
              border: none
            &:not(:disabled):not(.disabled)
              cursor: pointer
              &:hover
                background: var(--MIRECO-content-background-interact)
          &.invalid
            opacity: 0.1
          &.outside-month
            button
              opacity: 0.7
          &.highlight
            button:after
              content: ' '
              position: absolute
              top: calc(-1 * var(--MIRECO-thin-border-width))
              left: calc(-1 * var(--MIRECO-thin-border-width))
              right: calc(-1 * var(--MIRECO-thin-border-width))
              bottom: calc(-1 * var(--MIRECO-thin-border-width))
              border-top: var(--MIRECO-thin-border-width) dashed var(--MIRECO-primary-background)
              border-bottom: var(--MIRECO-thin-border-width) dashed var(--MIRECO-primary-background)
            &.first-highlight button:after
              border-left: var(--MIRECO-thin-border-width) dashed var(--MIRECO-primary-background)
              border-top-left-radius: var(--MIRECO-edge-rounding)
              border-bottom-left-radius: var(--MIRECO-edge-rounding)
            &.last-highlight button:after
              border-right: var(--MIRECO-thin-border-width) dashed var(--MIRECO-primary-background)
              border-top-right-radius: var(--MIRECO-edge-rounding)
              border-bottom-right-radius: var(--MIRECO-edge-rounding)
          &.current
            button
              background: var(--MIRECO-primary-background)
              color: var(--MIRECO-primary-text)
              &:not(:disabled):not(.disabled):hover
                background: var(--MIRECO-primary-background-interact)
          &:not(.current).selected
            button
              background: var(--MIRECO-primary-contained-background)
              color: var(--MIRECO-primary-contained-text)
              &:not(:disabled):not(.disabled):hover
                background: var(--MIRECO-primary-contained-background-interact)
          &.selected
            &.first-selected button
              border-top-left-radius: var(--MIRECO-edge-rounding)
              border-bottom-left-radius: var(--MIRECO-edge-rounding)
            &.last-selected button
              border-top-right-radius: var(--MIRECO-edge-rounding)
              border-bottom-right-radius: var(--MIRECO-edge-rounding)
          
          $corner-tag-size: 8px
          $corner-tag-margin: 2px
          position: relative
          &.today:after
            content: ''
            position: absolute
            left: 0
            top: 1px
            width: 0
            height: 0
            border-style: solid
            border-width: 0 0 $corner-tag-size $corner-tag-size
            border-color: transparent transparent transparent var(--MIRECO-secondary-background)
            border-top-left-radius: 2px
            pointer-events: none
