.MIRECO-day-calendar
  width: 15rem
  height: 15rem
  color: content-foreground
  &:not(.MIRECO-embedded)
    border-radius: edge-rounding
    border: thin-line solid content-muted
    margin-top: -(thin-line)
    popover-shadow()

  >.calendar-header
    margin-bottom: (standard-padding / 2)
    h5
      margin: 0
      margin-left: (standard-padding / 2)
      font-weight: standard-font-weight
      font-size: (standard-font-size * 0.9)
      color: content-muted
    button
      background: none
      outline: none
      border: none
      padding: (standard-padding / 2) 0
      margin: 0
      cursor: pointer
      svg
        width: (standard-padding * 2)
        path
          // important to override inline style for no css fallback
          stroke: content-muted !important
      &:hover svg path
        // important to override inline style for no css fallback
        stroke: primary-colour !important

  >table
    tbody
      tr
        td, th
          text-align: center
          font-weight: standard-font-weight
        th
          color: content-muted
          font-size: (standard-font-size * 0.7)
        td
          button
            font-size: (standard-font-size * 0.8)
            color: content-foreground
            background: none
            border: none
            border-radius: edge-rounding
            &:focus
              outline: none
              border: none
            &:not(:disabled)
              cursor: pointer
              &:hover
                color: primary-colour
          &.invalid
            opacity: 0.1
          &.outside-month
            button
              opacity: 0.7
          &.highlight
            button
              background: content-faint
          &.current
            button
              background: primary-colour
              color: primary-content-colour
              &:not(:disabled):hover
                color: primary-content-colour
          
          corner-tag-size = 8px
          corner-tag-margin = 2px
          position: relative
          &.today:before
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 0
            height: 0
            border-style: solid
            border-width: 0 0 (corner-tag-size + corner-tag-margin) (corner-tag-size + corner-tag-margin)
            border-color: transparent transparent transparent content-background
          &.today:after
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 0
            height: 0
            border-style: solid
            border-width: 0 0 corner-tag-size corner-tag-size
            border-color: transparent transparent transparent secondary-colour
