.MIRECO-dropdown
  position: absolute
  z-index: 100
  left: 0
  top: 100%
  background: content-background
  color: content-foreground
  list-style: none
  margin: 0
  padding: 0
  border-radius: edge-rounding
  border: thin-line solid content-muted
  min-width: 5rem
  max-width: 15rem
  max-height: 15rem
  overflow-y: auto
  overflow-x: hidden
  margin-top: -(thin-line)
  popover-shadow()

  &:focus
    outline: none

  &.disabled
    background: content-faint

  li
    margin: 0
    padding: 0
    display: block
    button
      margin: 0
      padding: (standard-padding / 2) (standard-padding)
      background: none
      color: content-foreground
      margin: 0
      display: block
      width: 100%
      text-align: left
      outline: none
      border: none
      font-size: (standard-font-size * 0.8)
      line-height: standard-line-height
      white-space: nowrap
      &:not(:disabled)
        cursor: pointer
    button:not(:disabled):hover
      color: primary-colour
    &.current button
      background: primary-colour
      color: primary-content-colour
      &:not(:disabled):hover
        color: primary-content-colour
