.MIRECO-label
  font-family: standard-font-families
  font-weight: standard-font-weight
  line-height: standard-line-height

  display: inline
  &.block
    display: block
    margin-bottom: standard-padding
