.MIRECO-start-end-header
  text-align: center
  border-bottom: thin-line solid content-muted
  padding: 0.5rem
  button
    padding: 0.25rem 1rem
    font-size: 0.8rem
    &:not(:disabled):not(.disabled):not(.MIRECO-embedded):not(.outline)
      border: none
      &.other
        background: content-faint
        color: content-foreground
