.MIRECO-time-selector
  height: 15rem
  display: flex
  flex-direction: row

  ul
    flex: 1
    list-style: none
    padding: 0
    margin: 0
    width: 5rem
    overflow-y: auto

    li
      padding: 0
      margin: 0
      button
        margin: 0
        padding: (standard-padding / 2) (standard-padding)
        background: none
        color: content-foreground
        margin: 0
        display: block
        width: 100%
        text-align: left
        outline: none
        border: none
        font-size: (standard-font-size * 0.8)
        line-height: standard-line-height
        white-space: nowrap
        &:not(:disabled)
          cursor: pointer
          &:hover
            color: primary-colour
      &.invalid
        opacity: 0.1
      &.highlight
        button
          background: content-faint
      &.current button
        background: primary-colour
        color: primary-content-colour
        &:not(:disabled):hover
          color: primary-content-colour
