.MIRECO-widget-text
  position: relative
  > .MIRECO-clear-button
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
  > svg
    position: absolute
    right: 0
    top: 50%
    margin-top: -12px
    pointer-events: none
