.MIRECO-widget-block
  > .MIRECO-clear-button
    background: none !important
    border: none !important

  > svg
    right: (standard-padding / 4)
  
  &.has-icon
    padding-right: "calc(%s + 24px)" % (standard-padding / 2)
    &.ever-clearable
      padding-right: "calc(%s + 48px)" % standard-padding
    > .MIRECO-clear-button
      right: "calc(%s + 24px)" % (standard-padding / 2)
    &:after
      content: ' '
      position: absolute
      right: "calc(%s + 24px)" % (standard-padding / 2)
      height: calc(100% - 12px)
      top: 6px
      border-right: thin-line solid content-muted
