.MIRECO-widget-block
  > .MIRECO-clear-button
    background: none !important
    border: none !important
    width: calc(var(--MIRECO-form-field-font-size) * var(--MIRECO-form-field-line-height))
    height: calc(var(--MIRECO-form-field-font-size) * var(--MIRECO-form-field-line-height))

  > svg
    right: var(--MIRECO-form-field-padding-vertical)
    width: calc(var(--MIRECO-form-field-font-size) * var(--MIRECO-form-field-line-height))
    height: calc(var(--MIRECO-form-field-font-size) * var(--MIRECO-form-field-line-height))
  
  &.has-icon
    padding-right: var(--MIRECO-form-field-inner-height)
    &.clearable
      padding-right: calc(var(--MIRECO-form-field-inner-height) * 2)
    > .MIRECO-clear-button
      right: calc(var(--MIRECO-form-field-inner-height) + var(--MIRECO-form-field-padding-vertical) + var(--MIRECO-thin-border-width))
    &:after
      content: ' '
      position: absolute
      right: var(--MIRECO-form-field-inner-height)
      bottom: var(--MIRECO-form-field-padding-vertical)
      top: var(--MIRECO-form-field-padding-vertical)
      border-right: var(--MIRECO-thin-border-width) solid var(--MIRECO-content-edge)
