.MIRECO-widget-block
  box-sizing: border-box
  position: relative
  > .MIRECO-clear-button, > svg
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
  > svg
    pointer-events: none
