clear-width = 3rem
desired-datetime-width = 16rem

.MIRECO-datetime-range
  span.to
    margin-top: text-space-width
    white-space: pre-wrap
  div.duration-inner
    display: flex
    align-items: flex-start
    input.MIRECO-text
      flex: 1
      margin-right: text-space-width

  &.block
    display: flex
    flex-wrap: wrap

    // replace individual padding with overall
    div.MIRECO-time, div.MIRECO-date
      margin-bottom: 0

    // pad out components on narrow devices
    > div.MIRECO-datetime, div.datetime-range-second
      margin-bottom: standard-padding

    button.MIRECO-clear-button
      margin-left: text-space-width

    div.MIRECO-datetime
      flex-wrap: nowrap

    > div.MIRECO-datetime
      flex-basis: desired-datetime-width
      flex-grow: 1
    div.datetime-range-second
      flex-basis: desired-datetime-width
      flex-grow: 1
      display: flex
      align-items: flex-start

      div.MIRECO-datetime
        flex: 1

    &.clearable
      div.datetime-range-second
        flex-basis: (desired-datetime-width + clear-width)
