.MIRECO-datetime
  &.block
    display: flex
    flex-wrap: wrap
    margin-right: -0.4rem

    >:first-child
      flex-basis: 9rem
      flex-grow: 1
      margin-right: 0.4rem
    div.second
      margin-right: 0.4rem
      white-space: pre
      flex-basis: 12rem
      flex-grow: 1
      align-items: flex-start
      display: flex
      .MIRECO-time, .MIRECO-date
        flex: 1

  &:focus
    outline: none
