.MIRECO-datetime-range
  span.to
    margin-top: 0.4rem
    white-space: pre
  div.duration-inner
    display: flex
    align-items: flex-start
    input.MIRECO-text
      flex: 1
      margin-right: 0.4rem

  &.block
    display: flex
    flex-wrap: wrap

    div.duration-container
      margin-left: 0.4rem

    >div.MIRECO-datetime, div.datetime-range-second, div.duration-container
      flex-basis: 24rem
      flex-grow: 1
    div.datetime-range-second
      display: flex
      div.MIRECO-datetime
        flex: 1
