.MIRECO-date
  &.block
    margin-bottom: standard-padding

  position: relative

  >.MIRECO-calendar
    position: absolute
    z-index: 100
    left: 0
    top: 100%
  &.right-hang>.MIRECO-calendar
    left: auto
    right: 0

  &:not(.block)
    >.MIRECO-text
      max-width: 8rem
