.MIRECO-select
  &:not(.sized)
    width: 100%
    max-width: 15rem
    min-width: 0

  display: inline-block
  &.block
    display: block
    width: 100%
    max-width: none
    min-width: 0

  position: relative

  > .MIRECO-widget-text
    width: 100%

  > .MIRECO-dropdown
    max-width: none
    right: 0
