.MIRECO-textarea
  max-width: 15rem
  width: 100%
  resize: none

  box-sizing: border-box
  display: inline-block

  &.block
    display: block
    width: 100%
    min-width: 0
    max-width: none
    margin-bottom: standard-padding
