.MIRECO-text
  -webkit-appearance: none
  box-sizing: border-box
  &:not(.sized)
    width: 100%
    max-width: 15rem
    min-width: 0
  font-family: standard-font-families
  font-weight: standard-font-weight
  font-size: standard-font-size
  line-height: standard-line-height
  border: thin-line solid content-muted
  border-radius: edge-rounding
  input-textaligned-padding(standard-padding)
  outline: none
  background: content-background

  display: inline-block
  &.block
    display: block
    width: 100%
    max-width: none
    min-width: 0
    margin-bottom: standard-padding

  &:disabled
    background: content-faint
    color: content-muted

  &:not(:disabled)
    &:hover
      border-color: primary-colour

  &:focus
    input-focus()
