.MIRECO-textarea
  vertical-align: middle
  max-width: 15rem
  width: 100%
  input-textaligned-padding(standard-padding)
  resize: none
  font-family: standard-font-families
  font-weight: standard-font-weight
  font-size: standard-font-size
  line-height: standard-line-height
  border: thin-line solid content-muted
  border-radius: edge-rounding
  outline: none
  box-sizing: border-box
  display: inline-block

  &.block
    display: block
    width: 100%
    min-width: 0
    max-width: none
    margin-bottom: standard-padding

  &:disabled
    background: content-faint

  &:not(:disabled)
    &:hover
      border-color: primary-colour
  &:focus
    input-focus()
