.MIRECO-time
  &.block
    margin-bottom: standard-padding

  position: relative

  &:not(.block)
    >.MIRECO-text
      max-width: 7rem

  > .MIRECO-time-selector
    position: absolute
    z-index: 100
    left: 0
    top: 100%
  &.right-hang>.MIRECO-time-selector
    left: auto
    right: 0
