.MIRECO-time
  &.block
    margin-bottom: standard-padding

  position: relative
  &:focus
    outline: none

  &:not(.block)
    >.MIRECO-text
      max-width: 7rem

  &.right-hang>.MIRECO-dropdown
    left: auto
    right: 0
