@use './variables' as *

@use './components/advanced-popover-theme'
@use './components/day-calendar-theme'
@use './components/clear-button-theme'
@use './components/controls-popover-theme'
@use './components/dropdown-theme'
@use './components/label-theme'
@use './components/month-calendar-theme'
@use './components/spinner-theme'
@use './components/widget-block-theme'
@use './components/time-range-popover-theme'
@use './components/time-selector-theme'

@use './inputs/button-theme'
@use './inputs/checkbox-theme'
@use './inputs/date-range-theme'
@use './inputs/date-theme'
@use './inputs/datetime-range-theme'
@use './inputs/multi-select-theme'
@use './inputs/range-theme'
@use './inputs/select-theme'
@use './inputs/text-theme'
@use './inputs/textarea-theme'
@use './inputs/time-theme'
@use './inputs/toggle-select-theme'

p.MIRECO-embedded
  color: $content-muted
  line-height: 2.05rem
  margin: 0
  margin-left: 0.5rem
  margin-right: 0.25rem
  margin-top: 0.15rem
