// sizing
standard-padding = 1.2rem
standard-font-size = 1rem
standard-line-height = 1.2em
edge-rounding = 0.15rem
thin-line = 0.05rem

// colours
primary-colour = #e05263
primary-content-colour = #fff
secondary-colour = #69a2b0
primary-content-colour = #fff
content-foreground = #333
content-background = #fff
content-muted = #666
content-soft = #9a9a9a
content-faint = #eee

// interaction
hover-highlight = 10%
interact-highlight = 15%

// fonts
standard-font-families = Helvetica, Arial, sans-serif
standard-font-weight = 500
